.l-root-h5 {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  min-height: 100vh;
  padding-bottom: 100px;
}
/* 下面这些都是为了实现只有一级页面级别的.l-root-h5才能设置100vh */
.l-root-h5 .l-root-h5 {
  min-height: initial;
  padding-bottom: 0;
}
.h5template-navi .l-root-h5 {
  min-height: initial;
  padding-bottom: 0;
}
.h5template-user .l-root-h5 {
  min-height: initial;
  padding-bottom: 0;
}
.h5template-404 .l-root-h5 {
  min-height: initial;
  padding-bottom: 0;
}
.h5template-401 .l-root-h5 {
  min-height: initial;
  padding-bottom: 0;
}
.h5template-login-wrap .l-root-h5 {
  min-height: initial;
  padding-bottom: 0;
}

div[root-app] .l-root-h5 {
  /* 【自定义组件】h5业务组件样式设置画布高度不生效 http: //projectmanage.netease-official.lcap.163yun.com/dashboard/BugDetail?id=2770434055995392 */
  /* height: auto;
  min-height: 100%; */
  min-height: initial; /* 画布中覆盖100vh */

  padding-bottom: 0;
}
div[root-app] .l-root-h5 > .van-divider:first-child {
  margin-top: 0;
}
/* 子页面根元素 */
div[router-view-symbol] .l-root-h5 {
  padding-bottom: 100px;
}
.h5template-login-wrap {
  height: 100vh;
  padding: 4.26667vw;
  background-color: #fff;
}
.h5template-login-wrap .login-title {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 500;
  font-size: 7.46667vw;
  line-height: 10.4vw;
  color: #333;
  margin-bottom: 14.93333vw;
}
.h5template-login-wrap .login-form .cus-login-button {
  width: 100%;
  margin-left: 0;
}
.h5template-login-wrap .login-cell {
  padding: 0;
  line-height: 12.8vw;
  background: #f6f6f6;
  border-radius: 1.06667vw;
  margin-bottom: 4.26667vw;
}
.h5template-login-wrap .login-cell .van-field__left-icon {
  margin-right: 3.2vw;
  margin-left: 3.2vw;
  display: flex;
  align-items: center;
}
.h5template-login-wrap .login-cell .van-field__right-icon {
  margin-right: 4.26667vw;
  margin-left: 0;
  display: flex;
  align-items: center;
  padding: 0;
}
.h5template-login-wrap .login-cell .van-field__right-icon img {
  display: block;
  width: 6.4vw;
  height: 6.4vw;
}
.h5template-login-wrap .login-cell .van-field__control {
  color: #aaa;
}
.h5template-login-wrap .account-left-icon {
  width: 6.4vw;
  height: 6.4vw;
}
.h5template-login-wrap .cus-login-button {
  background: #4c88ff;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 500;
  font-size: 4.8vw;
  letter-spacing: 4.8vw;
  text-indent: 4.8vw;
  line-height: 12.8vw;
  color: #fff;
  border-radius: 1.06667vw;
}
.h5template-login-wrap .van-cell__title {
  display: none;
}
.h5template-login-wrap .van-cellson__title {
  display: none;
}
.h5template-navi {
  /* H5端页面设置背景图片，发布预览后效果与可视化的效果不一致 http: //projectmanage.netease-official.lcap.163yun.com/dashboard/BugDetail?id=2830648833018368 */
  /* 达到IDE中高度100%的效果 */
  min-height: 100vh;
}
.h5template-navi .navi-head {
  padding-left: 4.26667vw;
  padding-right: 4.26667vw;
  height: 11.73333vw;
}
.h5template-navi .navi-head .nvai-top-image {
  font-size: 24px;
  width: 6.4vw;
  display: block;
}
.h5template-navi .navi-item-icon {
  display: block;
  width: 6.4vw;
  margin-right: 4.26667vw;
}
.h5template-navi .diy-content {
  height: 100vh;
  width: 86.13333vw;
  overflow: auto;
  padding-top: 11.73333vw;
}
.h5template-user {
  width: 100vw;
  min-height: 100vh;
  background-color: #f6f6f6;
}
.h5template-user .user-head-wrap {
  height: 42.66667vw;
  background-color: #fff;
  padding-left: 6.4vw;
}
.h5template-user .user-head-wrap .user-avatar {
  width: 17.06667vw;
  height: 17.06667vw;
  margin-right: 4.26667vw;
}
.h5template-user .user-head-wrap .user-name {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: 500;
  font-size: 5.33333vw;
  line-height: 5.33333vw;
  color: #333;
}
.h5template-user .user-middle .van-cell {
  padding-right: 4.26667vw;
}
.h5template-user .navi-item-icon {
  display: block;
  width: 6.4vw;
  margin-right: 4.26667vw;
}
.h5template-user .user-logout {
  line-height: 14.93333vw;
  background: #fff;
  text-align: center;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 4.26667vw;
  color: #f55a4c;
}
.h5template-user .user-logout span {
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.h5template-404 {
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.h5template-404 .m404-image-wrap {
  margin-top: 37.33333vw;
}
.h5template-404 .m404-image-wrap .m404-image {
  display: block;
  width: 160px;
  /* px-to-viewport-ignore */
  margin-left: auto;
  margin-right: auto;
}
.h5template-404 .m404-image-wrap .m404-image-text {
  margin-top: 16px;
  /* px-to-viewport-ignore */
  text-align: center;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* px-to-viewport-ignore */
  color: #999;
}
.h5template-401 {
  overflow: hidden;
  height: 100vh;
  background-color: #fff;
}
.h5template-401 .m401-image-wrap {
  margin-top: 37.33333vw;
}
.h5template-401 .m401-image-wrap .m401-image {
  display: block;
  width: 160px;
  /* px-to-viewport-ignore */
  margin-left: auto;
  margin-right: auto;
}
.h5template-401 .m401-image-wrap .m401-image-text {
  margin-top: 16px;
  /* px-to-viewport-ignore */
  text-align: center;
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* px-to-viewport-ignore */
  color: #999;
}
.h5template-401 .m401-image-wrap .m401-image-btn {
  width: 96px;
  /* px-to-viewport-ignore */
  height: 32px;
  /* px-to-viewport-ignore */
  line-height: 32px;
  background: #337eff;
  border-radius: 4px;
  /* px-to-viewport-ignore */
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /* px-to-viewport-ignore */
  color: #fff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /* px-to-viewport-ignore */
}
